<h1>Manufacturers</h1>


<% if @manufacturers.empty? %>
  <ul>
    <li>No manufacturers listed!</li>
  </ul>
<% else %>
  <ul>
    <% @manufacturers.each do |manufacturer| %>
      <li>
        <p><%= link_to manufacturer.name, manufacturer %></p>
        <p>Country: <%= manufacturer.country %></p>
      </li>
    <% end %>
  </ul>
<% end %>

<p><%= link_to 'Add a Manufacturer', new_manufacturer_path %></p>
